
@each $i in 10,11,12,13,14,16,20,24,30 {
  .mf#{$i} {
    font-size: 1px * $i;
  }
}

@each $i in 1,2,3,4,5,6 {
  .mwe#{$i} {
    width: 1em * $i;
  }
  .mhe#{$i} {
    height: 1em * $i;
  }
}

@each $i in 4,5,6,8,100 {
  .mbr#{$i} {
    border-radius: 1px * $i;
  }
}


@for $i from 1 through 40 {
  .mw#{$i*4} {
    width: 4px * $i;
  }
  .mh#{$i*4} {
    height: 4px * $i;
  }
}
@each $i in 26,28,36,44,48,52,56,60,66,68,72,80,84,86,88 {
  .mh#{$i} {
    height: 1px * $i;
  }
}
@each $i in 1,311 {
  .mw#{$i} {
    width: 1px * $i;
  }
}

@each $i in auto {
  .ml#{$i} {
    margin-left: $i;
  }
  .mt#{$i} {
    margin-top: $i;
  }
  .mr#{$i} {
    margin-right: $i;
  }
  .mb#{$i} {
    margin-bottom: $i;
  }
}

@each $i in 2,3,4,5,6,7,8,9,10 {
  .ml#{$i} {
    margin-left: 1px * $i;
  }
  .mt#{$i} {
    margin-top: 1px * $i;
  }
  .mr#{$i} {
    margin-right: 1px * $i;
  }
  .mb#{$i} {
    margin-bottom: 1px * $i;
  }
}

@for $i from 3 through 12 {
  .ml#{$i*4} {
    margin-left: 4px * $i;
  }
  .mt#{$i*4} {
    margin-top: 4px * $i;
  }
  .mr#{$i*4} {
    margin-right: 4px * $i;
  }
  .mb#{$i*4} {
    margin-bottom: 4px * $i;
  }
}

@each $i in 4,12,16,32 {
  .mpl#{$i} {
    padding-left: 1px * $i;
  }
  .mpt#{$i} {
    padding-top: 1px * $i;
  }
  .mpr#{$i} {
    padding-right: 1px * $i;
  }
  .mpb#{$i} {
    padding-bottom: 1px * $i;
  }
}

